body {
  background-color: #f3f3f3;
}

h1 {
  color: #c99599;
  text-align: center;
  font-size: 80px;
}

.toDoContainer {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.ul {
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
}
